<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Quem o Matheus é Agora?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="scroll">
  <div class="main-div">
    <div class="div-card">
      <ion-card class="card">
        <ion-card-title class="title">
          {{name}}
        </ion-card-title>
          <ion-img [src]="img" class="img"></ion-img>
      </ion-card>
    </div>
    <div>
      <ion-button expand="block" (click)="countImg()" [disabled]="disabled">Verificar</ion-button>
    </div>
  </div>
</ion-content>